.btn {
    position: relative;
    padding: 5px;
    border: transparent;
    background-color: $color-bule;
    cursor: pointer;
    &-blue {
        color: $color-whrite;
        background-color: $color-bule;
        &:active {
            background-color: $color-light-blue;
        }
    }
    &-whrite {
        background-color: $color-whrite;
    }
    &-light-gray {
        background-color: $color-light-gray;
        &:active {
            background-color: $color-deep-gray;
        }
    }
    &-light-black {
        color: $color-whrite;
        background-color: $color-light-black;
        &:active {
            background-color: $color-deep-black;
        }
    }
    >i {
        margin-left: 5px;
    }
    &-deny {
        color: $color-whrite;
        >i {
            margin-right: 5px;
        }
        &:active {
            background-color: $color-deep-blue;
        }
    }
}

.btn-group {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: $color-whrite;
    .btn {
        height: 50px;
        padding: 0;
        border-right: 1px solid $color-light-gray;
        background-color: $color-whrite;
        &:hover,
        &:active {
            &:before {
                content: '';
                border-top: 5px solid $color-light-blue;
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }
}