.top-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color-whrite;
    height: $top-navbar-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
    &-toggler {
        border: transparent;
        padding: 10px;
        cursor: pointer;
    }
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.sidebar {
    position: fixed;
    width: $sidebar-navbar-width;
    top: $top-navbar-height;
    background-color: $color-light-black;
    height: 100%;
    z-index: 1000;
}

.content {
    background-color: $color-page-color;
    position: relative;
    height: 100%;
    min-width: 320px;
    top: $top-navbar-height;
}

.table-container {
    padding: 20px 20px 20px;
}