/* color style variable start */

$color-orange: #ff912a;
$color-light-green: #7fbc39;
$color-bule: #0084cf;
$color-light-blue: #00b4cf;
$color-deep-blue: #01869a;
$color-light-black: #2d4054;
$color-deep-black: #435466;
$color-gray: #999999;
$color-light-grey: #f3f3f3;
$color-deep-gray: #e1e4e6;
$color-light-gray: #efefef;
$color-deep-grey: #cccccc;
$color-whrite: #ffffff;
$color-page-color: #ededed;
/* common */

$top-navbar-height: 80px;
$sidebar-navbar-width: 200px;
$bg-building: $color-orange;
$bg-idle: $color-light-green;
$screen-desktop-hd: 1198.98px;
$screen-desktop-min: 1023.98px;
$screen-tablet-min: 767.98px;
$font-size-base: 28;