@import '_variable.scss';
@import '_mixin.scss';
@import '_fonts.scss';
@import '_buttons.scss';
@import '_badges.scss';
@import '_layout.scss';
@import '_compontent.scss';
@for $i from 1 through 12 {
    @include generate-col(null, $i);
}

@media screen and (min-width: $screen-desktop-hd) {
    .table-row {
        >i {
            display: block !important;
        }
    }
}

@media screen and (min-width: $screen-desktop-min) {
    @include mk-col(lg);
    .top-navbar {
        &-toggler {
            .btn {
                display: none;
            }
        }
    }
    .content {
        padding-left: $sidebar-navbar-width;
    }
}

@media screen and (max-width: $screen-desktop-min) {
    @include mk-col(md);
    .container {
        .sidebar {
            display: none;
        }
        &.active {
            .sidebar {
                display: block;
            }
        }
    }
}

@media screen and (max-width: $screen-tablet-min) {
    @include mk-col(sm);
    .container {
        .sidebar {
            display: none;
        }
        &.active {
            .sidebar {
                display: block;
            }
        }
        .idle {
            .table-row::before {
                border-color: $bg-idle;
            }
        }
        .building {
            .table-row::before {
                border-color: $bg-building;
            }
        }
        .table {
            &-header {
                background-color: $color-page-color;
                .utils-tool {
                    margin-bottom: 15px;
                }
                .search-bar {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
                .icon-bar {
                    display: none;
                }
                .flex-row {
                    flex-wrap: wrap-reverse;
                }
            }
            &-row {
                .badges {
                    display: none;
                }
                &:before {
                    content: '';
                    border-left: 5px solid;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                }
            }
        }
        .card-container {
            .overview {
                .table {
                    margin-top: 20px;
                }
            }
        }
    }
}

@each $flex,
$direction in (row, row),
(column, column) {
    .flex-#{$flex} {
        display: flex;
        flex-wrap: wrap;
        flex-direction: $direction;
        margin-left: -15px;
        margin-right: -15px;
        @include generate-justify($flex);
        @include generate-align($flex);
    }
}

@each $var in (left, center, right) {
    .row-#{$var} {
        text-align: #{$var};
    }
}

@each $name,
$color in (building, $bg-building),
(idle, $bg-idle) {
    .bg-#{$name} {
        background-color: #{$color};
    }
}

@while $font-size-base>=12 {
    .font-#{$font-size-base} {
        font-size: $font-size-base +px;
    }
    $font-size-base: $font-size-base - 2;
}

.icon-cog {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 10rem;
    display: block;
    opacity: .2;
    animation: round 2s infinite;
    -webkit-animation: round 2s infinite;
    /* Safari and Chrome */
}

.icon-coffee {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 10rem;
    display: block;
    opacity: .2;
}

@include keyframes(round) {
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.logo {
    @include mk-identifier('../assets/icons/logo.svg');
    min-width: 144px;
    height: 50px;
}

.icon-cent_os {
    @include mk-identifier('../assets/icons/cent_os.png');
}

.icon-debin {
    @include mk-identifier('../assets/icons/debin.png');
}

.icon-suse {
    @include mk-identifier('../assets/icons/suse.png');
}

.icon-ubuntu {
    @include mk-identifier('../assets/icons/ubuntu.png');
}

.icon-windows {
    @include mk-identifier('../assets/icons/windows.png');
}

.flex-expand {
    flex: 1 1 auto;
}

ul li {
    list-style: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.sidebar {
    ul {
        padding: 0;
        li {
            >a {
                padding: 0 20px;
                text-decoration: none;
                color: $color-whrite;
                height: 45px;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: $color-light-blue;
                }
                i {
                    margin-right: 20px;
                }
            }
        }
    }
}

.table {
    &-header {
        background-color: $color-whrite;
        .utils-tool {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-whrite;
            height: 50px;
        }
        .search-bar {
            &:before {
                font-size: 2rem;
                content: '\f002';
                @include icon-family();
                opacity: 0.3;
                position: absolute;
                top: 15px;
                left: 20px;
            }
            input {
                padding: 10px 20px;
            }
        }
        .icon-bar {
            i {
                margin-right: 20px;
                &.active {
                    color: $color-light-blue;
                }
            }
        }
    }
    &-row {
        background-color: $color-whrite;
        padding: 15px;
        margin: 15px 0;
        position: relative;
        display: flex;
        align-items: center;
        >i {
            margin-right: 10px;
            display: none;
        }
        .bottom {
            margin-top: 15px;
            padding: 0 15px;
        }
        .title,
        .info,
        .folder {
            margin: 5px 0;
            >i {
                margin-right: 10px;
            }
            .badges {
                margin-left: 20px;
            }
        }
        .add-tool {
            color: $color-whrite;
            background-color: $color-bule;
            padding: 2px 5px;
            cursor: pointer;
            &:active {
                background-color: $color-deep-blue;
            }
            >i {
                display: block;
            }
        }
        .delete-tool {
            margin: 10px;
        }
        .deny-tool {
            margin-top: 10px;
        }
    }
}

.card-container {
    color: $color-whrite;
    .title {
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .count {
        display: block;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 4.8rem;
    }
    .building {
        background-color: $bg-building;
    }
    .idle {
        background-color: $bg-idle
    }
    .building,
    .idle {
        >i {
            position: relative;
            top: 20px;
        }
    }
    .overview {
        position: relative;
        height: 100%;
        color: $color-light-black;
        background-color: $color-whrite;
        .table {
            display: table;
            border-collapse: collapse;
            min-width: 100%;
            min-height: 100%;
            &-tr {
                display: table-row;
                height: 30px;
            }
            &-th {
                display: table-cell;
                font-size: 1.2rem;
                text-align: center;
                vertical-align: middle;
            }
            &-td {
                display: table-cell;
                font-size: 2rem;
                width: calc(100% / 3);
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}