<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel='stylesheet' href='theme/styles/main.min.css' />
  <script src=""></script>
</head>

<body>
  <div class="page-container">
    <header class="navbar">
      <nav class="top-navbar">
        {{>top.navbar}}
      </nav>
    </header>
    <section class="container">
      <nav class="sidebar">
        {{> sidebar}}
      </nav>
      <div class="content">
        {{> content}}
      </div>
    </section>
  </div>


  <script src="scripts/main.min.js"></script>
  <script>
    let toolTipEle = `<div class="tooltip">
        <div class="top">
            <div class="title">Separate multiple resource name with commas</div>
            <i class="icon-close"></i>
        </div>
        <div class="center"><input type="text"></div>
        <div class="bottom">
            <button type="button" class="confirm">Add resource</button>
            <button type="button" class="cancel">Cancel</button>
        </div>
    </div>`
    function addFn(a, b) {
      console.log(b);
      var div = document.createElement('div');
      div.innerHTML = toolTipEle;
      b.parentNode.append(div);
    }
  </script>
</body>

</html>