<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel='stylesheet' href='theme/styles/main.min.css' />
  <script src=""></script>
</head>

<body>
  <div class="page-container">
    <header class="navbar">
      <nav class="top-navbar">
        {{> top.navbar}}
      </nav>
    </header>
    <section class="container">
      <nav class="sidebar">
      </nav>
      <div class="content">
        {{> content}}
      </div>
    </section>
    <footer>
      {{> footer}}
    </footer>
  </div>


  <script src="scripts/main.min.js"></script>
</body>

</html>