extends layout

- var classes = ['foo', 'bar', 'baz']

block main
  header(class='tw-navbar')
    p Welcome to 
  section(class='container d-flex d-flex-row')
    nav(class='sidebar')
      ul
        each item in menuData
          li
           a( herf='/dashborad',class='d-flex align-items-center height-45')
            i(class='#{item.icon} font-20')
            span=item.label
