<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='theme/styles/main.min.css' />
</head>

<body>
  <div class="page-container">
    <header class="navbar">
      <nav class="top-navbar">
        {{>top.navbar}}
      </nav>
    </header>
    <section class="container">
      <nav class="sidebar">
        {{> sidebar}}
      </nav>
      <div class="content">
        {{> content}}
      </div>
    </section>
    <footer>
      <nav>
        {{> footer}}
      </nav>
    </footer>
  </div>
  {{!--
  <script src="scripts/main.min.js"></script> --}}
</body>

</html>