<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/theme/style/index.css' />
</head>

<body>
  <header class="tw-navbar">
    <div class=""></div>
  </header>
  <div class="fluid">
    <section class="container d-flex d-flex-row">
      <nav class="sidebar">
        <ul>
          <li>
            <a href="/dashborad" class="d-flex align-items-center height-45">
              <i class="icon-dashboard font-20"></i>DASHBOARD</a>
          </li>
          <li>
            <a href="#" class="d-flex align-items-center height-45">
              <i class="icon-sitemap font-20"></i>AGENT</a>
          </li>
          <li>
            <a href="#" class="d-flex align-items-center height-45">
              <i class="icon-boat font-20"></i>MY CRUSE</a>
          </li>
          <li>
            <a href="#" class="d-flex align-items-center height-45">
              <i class="icon-life-bouy font-20"></i>HELP</a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <div class="d-flex d-flex-row justify-content-between">
          <div class="view-card building col-3">
            <div class="title">Building</div>
            <div class="icon icon-cog icon-font-144"></div>
            <div class="total">3</div>
          </div>
          <div class="view-card idle col-3">
            <div class="title">Idle</div>
            <div class="icon icon-coffee icon-font-144"></div>
            <div class="total">5</div>
          </div>
          <div class="view-card col-3">
            <div class="row d-flex d-flex-row justify-content-between">
              <div class="description">ALL</div>
              <div class="total">8</div>
            </div>
            <div class="row d-flex d-flex-row justify-content-between">
              <div class="description">PHYSICAL</div>
              <div class="total">4</div>
            </div>
            <div class="row d-flex d-flex-row justify-content-between">
              <div class="description">VIRTUAL</div>
              <div class="total">4</div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <footer></footer>
  </div>

</body>

</html>