<ul>
    <li><a href="#" class="d-flex align-items-center height-45"><i class="icon-dashboard font-20"></i>DASHBOARD</a></li>
    <li><a href="#" class="d-flex align-items-center height-45"><i class="icon-sitemap font-20"></i>AGENT</a></li>
    <li><a href="#" class="d-flex align-items-center height-45"><i class="icon-boat font-20"></i>MY CRUSE</a></li>
    <li><a href="#" class="d-flex align-items-center height-45"><i class="icon-life-bouy font-20"></i>HELP</a></li>
</ul>