<div class="card-container">
    <div class="flex-row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="building">
                <span class="title">Building</span>
                <i class="icon-cog"></i>
                <span class="count"></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="idle">
                <span class="title">Idle</span>
                <i class="icon-coffee"></i>
                <span class="count"></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="overview">
                <div class="table">
                    <div class="table-tr">
                        <div class="table-th">ALL</div>
                        <div class="table-th">PHYSICAL</div>
                        <div class="table-th">VIRTUAL</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td">8</div>
                        <div class="table-td">4</div>
                        <div class="table-td">4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-container">
    <div class="table-header">
        <div class="flex-row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="btn-group">
                    <button type="button" class="btn col-4 active">ALL</button>
                    <button type="button" class="btn col-4">Physical</button>
                    <button type="button" class="btn col-4">Virtual</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="utils-tool">
                    <div class="search-bar"><input type="search" name="search"></div>
                    <div class="icon-bar"><i class="icon-th-card"></i><i class="active icon-th-list"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-body">
    </div>
</div>