<div class="tooltip">
    <div class="top">
        <div class="title">Separate multiple resource name with commas</div>
        <i class="icon-close" onclick="$ctrl.cancelFn()"></i>
    </div>
    <div class="center"><input name="addValue" type="text"></div>
    <div class="bottom">
        <button type="button" class="wright btn btn-blue" onclick="$ctrl.addFn()">Add resource</button>
        <button type="button" class="wright btn btn-light-black" onclick="$ctrl.cancelFn()">Cancel</button>
    </div>
</div>