<div class="top-navbar-toggler">
    <button type="button" class="btn btn-whrite"><i class="icon-navicon font-20"></i></button>
</div>
<div class="top-navbar-logo"><i class="logo"></i></div>
<div class="top-navbar-profile">
    {{title}}
</div>